<style>
@media (max-width: 100px)
@media (min-height: 350px)

header {
  background-color: #C51020;
}

body {
  background-color: #C51020;
  background: url("../images/open-book.jpg");
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#shape {
  justify-content: left;
}

#brand {
  background-color: #1020C5;
  color: #ffffff;
  font-size: 40px;
  font-family: verdana, serif;
  text-align: center;
  padding: 50px;
  margin: 10px;
  height: 50px;
  weight: 600;
  width: 20%;
  border: 5px solid #cccccc;
  border-radius: 5px;
  transform: skewX(-30deg);
}

#teaching {
  background-color: #20C510;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  height: 25px;
}

h1 {
  background-color: #C51020;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  padding: 40px;
  margin: 10px;
  height: 25px;
}

form {
  background-color: #1020C5;
  color: #ffffff;
  opacity: 90%;
  margin: 50px 50px 30px 50px;
  padding: 20px;
}

#description {
  background-color: #1020C5;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  padding: 25px;
  margin: 10px;
  line-height: 25px;
}

#name-label, email-label, number-label {
  margin: 20px;
}

[type='radio'] {
  margin: 20px;
}

[type='checkbox'] {
  margin: 20px;
}

button {
  border-radius: 5px;
  color: #ffffff;
  background-color: #20C510;
  padding: 20px;
  margin: 25px;
}

button:hover {
  animation-name: background-color;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100% {
  background-color: #20C510;
}
  }

#footer {
  background-color: #20C510;
  color: #000000;
  opacity: 90%;
  text-align: center;
}

</style>

